/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headerImg {
  height: 500px;
  padding: 48px 84px;
  width: 100vw;
  margin-left: calc(-1 * var(--ifm-spacing-horizontal));
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-size: 100vw 500px;
  background-image: url(/static/img/homepage_bg.png);
}

[data-theme="dark"] .headerImg {
  background-image: url(/static/img/homepage_bg_dark.png);
}
