/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headerImg {
  margin-top: 32px;
  height: 550px;
  padding: 48px 84px;
  margin-left: calc(-1 * var(--ifm-spacing-horizontal));
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-size: 100vw 550px;
  max-width: 100vw;
  background-image: url(/static/img/homepage_bg.png);
}

[data-theme="dark"] .headerImg {
  background-image: url(/static/img/homepage_bg_dark.png);
}

@media screen and (max-width: 640px) {
  .headerImg {
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 24px;
    height: 550px;
    padding: 24px 16px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-size: 600px 300px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0px;
}

body {
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  body {
    font-size: 14px;
  }
}
