# Javascript
node_modules
dist
lib
build
tsconfig.tsbuildinfo

oracle_job_protos.json

*.env
.switchboard
start-local-validator.sh
start-oracle.sh
switchboard.json
docker-compose.switchboard.yml

# Python
__pycache__
.pytest_cache

# Rust
programs/**/target
.anchor
target
.crates

# Misc
.keypairs
*-keypair*.json
.archive
*-error.log
*-debug.log
.aptos
.DS_Store

# Docusaurus
public
.docusaurus
# Auto generated
# docs/static/api/ts
# docs/static/api/ts-lite
# docs/static/api/sbv2-utils
website/static/api/@switchboard-xyz