.custom-admonition {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  margin: 20px 0;
}

.custom-admonition a {
  color: inherit !important;
}

.custom-admonition-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-admonition.note {
  border-left-width: 10px;
  border-left-color: inherit;
  border-color: inherit;
}

.custom-admonition.tip {
  border-left-width: 10px;
  border-left-color: #04d71a;
  border-color: #04d71a;
  color: #04d71a;
}

.custom-admonition.info {
  border-left-width: 10px;
  border-left-color: #0458d7;
  border-color: #0458d7;
  color: #0458d7;
}

.custom-admonition.caution {
  border-left-width: 10px;
  border-left-color: #d78304;
  border-color: #d78304;
  color: #d78304;
}

.custom-admonition.deprecated {
  border-left-width: 10px;
  border-left-color: #d704c1;
  border-color: #d704c1;
  color: #d704c1;
}

.custom-admonition.note .custom-admonition-header::before {
  content: '\1F3F7';
  font-size: 120%;
  display: inline-block;
  margin-right: 8px;
}

.custom-admonition.tip .custom-admonition-header::before {
  content: '\1F9E0';
  font-size: 120%;
  display: inline-block;
  margin-right: 8px;
}

.custom-admonition.info .custom-admonition-header::before {
  content: '\2139';
  font-size: 120%;
  display: inline-block;
  margin-right: 8px;
}

.custom-admonition.caution .custom-admonition-header::before {
  content: '\1F6A8';
  font-size: 120%;
  display: inline-block;
  margin-right: 8px;
}

.custom-admonition.deprecated .custom-admonition-header::before {
  content: '\274C';
  font-size: 120%;
  display: inline-block;
  margin-right: 8px;
}
