@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #117083;
  --ifm-color-primary-dark: #0f6576;
  --ifm-color-primary-darker: #0e5f6f;
  --ifm-color-primary-darkest: #0c4e5c;
  --ifm-color-primary-light: #137b90;
  --ifm-color-primary-lighter: #148197;
  --ifm-color-primary-lightest: #1692aa;
  --ifm-code-font-size: 100%;
  --ifm-font-family-base: "Source Sans Pro";
  --ifm-link-hover-color: #0a2540;
  --ifm-description-text-color: #313e79;
  --ifm-pages-background-color: #f7f9fc;
}

[data-theme="dark"] :root {
  --ifm-color-primary: #97d6e2;
  --ifm-color-primary-dark: #7acada;
  --ifm-color-primary-darker: #6bc5d6;
  --ifm-color-primary-darkest: #3fb3c9;
  --ifm-color-primary-light: #b4e2ea;
  --ifm-color-primary-lighter: #c3e7ee;
  --ifm-color-primary-lightest: #eff9fb;
  --ifm-background-color: #1f354b;
  --ifm-color-emphasis-100: #182436;
  --ifm-link-hover-color: #fff;
  /* --ifm-navbar-background-color: #0a2540; */
  --ifm-navbar-background-color: var(--ifm-color-emphasis-100);
  --ifm-description-text-color: #dbdbdb;
  --ifm-pages-background-color: var(--ifm-background-color);
}

.alert--info {
  --ifm-alert-background-color: inherit;
}

/* In dark mode, set background opacity of every other row */
/* html[data-theme="dark"] .docs-doc-page tr:even {
  background-color: rgba(31, 53, 75, 0.75);
} */

/* Make last column in table full width */
td:last-child {
  width: 100%;
}

.table_no_border td,
.table_no_border tr {
  border: none;
  border-collapse: collapse;
  padding: 0.5em 2em;
}

.centeredText {
  text-align: center;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.clean-btn {
  color: #6b7c93;
  margin-right: 15px;
}

.menu__link--active {
  font-weight: 600;
}

.nowrap {
  white-space: nowrap;
}

a.link__nocolor,
a.link__nocolor:hover,
a.link__nocolorvisited,
a.link__nocolor:link,
a.link__nocolor:active {
  color: inherit;
}

.vertical-rule {
  border-left: 2px solid var(--ifm-color-primary);
  margin: 0;
  padding: 0;
}

/* IS THIS NEEDED ?!?! */
/* @media (max-width: 996px) {
  .row .col.col.col {
    --ifm-col-width: 180px;
  }
} */
