@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@font-face {
  font-family: "Snasm";
  src: url("/static/fonts/Snasm/Snasm-400.woff2") format("woff");
}

@font-face {
  font-family: "Fira Code";
  src: url("/static/fonts/Fira_Code/FiraCode-400.woff2") format("woff");
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
:root {
  /* --ifm-color-primary: #117083;
  --ifm-color-primary-dark: #0f6576;
  --ifm-color-primary-darker: #0e5f6f;
  --ifm-color-primary-darkest: #0c4e5c;
  --ifm-color-primary-light: #137b90;
  --ifm-color-primary-lighter: #148197;
  --ifm-color-primary-lightest: #1692aa; */

  --ifm-color-primary: #2546f4;
  --ifm-color-primary-dark: #546ef6;
  --ifm-color-primary-darker: #2546f4;
  --ifm-color-primary-lighter: #cad2fc;
  --ifm-color-primary-lightest: #f3f5fc;

  --ifm-code-font-size: 100%;
  --ifm-color-emphasis-400: #fff;
  --ifm-color-emphasis-600: #fff;
  --ifm-font-family-base: "Source Sans Pro";
  --ifm-link-hover-color: #0a2540;
  --ifm-description-text-color: #313e79;
  --ifm-pages-background-color: #f7f9fc;
}

[data-theme="dark"] :root {
  --ifm-color-primary: #546ef6;
  --ifm-color-primary-dark: #546ef6;
  --ifm-color-primary-darker: #6bc5d6;
  --ifm-color-primary-darkest: #3fb3c9;
  --ifm-color-primary-light: #b4e2ea;
  --ifm-color-primary-lighter: #c3e7ee;
  --ifm-color-primary-lightest: #eff9fb;
  --ifm-background-color: #1f354b;

  --ifm-color-emphasis-100: #182436;
  --ifm-color-emphasis-400: #fff;
  --ifm-color-emphasis-600: #fff;
  --ifm-link-hover-color: #fff;
  /* --ifm-navbar-background-color: #0a2540; */
  --ifm-navbar-background-color: var(--ifm-color-emphasis-100);
  --ifm-description-text-color: #dbdbdb;
  --ifm-pages-background-color: var(--ifm-background-color);
}

@import "admonitions.css";
@import "footer.css";
@import "icons.css";
@import "navbar.css";
@import "sidebar.css";
@import "my-icons.css";

.alert--info {
  --ifm-alert-background-color: inherit;
}

/* In dark mode, set background opacity of every other row */
/* html[data-theme="dark"] .docs-doc-page tr:even {
  background-color: rgba(31, 53, 75, 0.75);
} */

/* Make last column in table full width */
/* td:last-child {
  width: 100%;
} */

.table_no_border td,
.table_no_border tr {
  border: none;
  border-collapse: collapse;
  padding: 0.5em 2em;
}

.centeredText {
  text-align: center;
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.clean-btn {
  color: #6b7c93;
  margin-right: 15px;
}

.menu__link--active {
  font-weight: 600;
}

.nowrap {
  white-space: nowrap;
}

/* a.link__nocolor,
a.link__nocolor:hover,
a.link__nocolor:visited,
a.link__nocolor:link,
a.link__nocolor:active {
  color: inherit;
} */

.vertical-rule {
  border-left: 2px solid var(--ifm-color-primary);
  margin: 0;
  padding: 0;
}

table li {
  list-style-type: "> ";
}

table li::marker {
  color: var(--ifm-color-primary);
  font-size: 1.25rem;
}

/* table a {
  color: var(--ifm-navbar-link-color);
} */

/* html[data-theme="dark"] a:hover {
  color: var(--ifm-color-primary-lightest);
} */

/* table {
  width: 100%;
  table-layout: fixed;
  overflow-x: auto;
  display: block;
} */

.networks_tabs {
  border: 3px #0a2540;
}
.networks_tabs .tabs__item {
  line-height: 16px;
  margin-right: 8px;
  border: 2px solid var(--ifm-tabs-color-active);
  border-radius: var(--ifm-global-radius);
  opacity: 80%;
}

.networks_tabs .tabs__item--active {
  border: 0;
  color: #fff;
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-tabs-color-active);
  opacity: 100%;
}

h1 {
  font-family: "Snasm";
  font-weight: 400;
  font-size: 52px;
  line-height: 62.4px;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 26px;
    line-height: normal;
  }
}

.container {
  max-width: none;
}

.menu__list-item,
.menu__link--sublist,
.menu__link {
  width: "100%";
}

ul.icon {
  list-style-type: none;
}

ul.icon li {
  text-indent: -1.4em;
}
ul.icon li:before {
  font-family: bullets;
  content: "\e800";
  float: left;
  width: 1.4em;
}
ul.icon li.info:before {
  content: "\e800";
}
ul.icon li.star:before {
  content: "\e803";
}
ul.icon li.help:before {
  content: "\e801";
}
ul.icon li.bulb:before {
  content: "\e804";
}
ul.icon li.hand:before {
  content: "\e805";
}
