.devicons {
  color: var(--ifm-color-primary);
}

html[data-theme="dark"] .devicons {
  color: var(--ifm-color-primary);
}

.instruction-icon {
  color: #ffa500;
}

html[data-theme="dark"] .instruction-icon {
  color: #ffcb4c;
}

.DocSearch-Search-Icon {
  display: none;
}
