/* Override non-category links to be horizonally compact */
li > a.menu__link {
  justify-content: flex-start;
}

.sidebar__external a::after {
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 0.3rem;
  display: inline-block;
  vertical-align: middle;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
}
[data-theme="dark"] .sidebar__external a::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233fb3c9' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
}

.sidebar__custom_label {
  margin-bottom: 0.1rem;
}

.sidebar-separator {
  margin: 0.25rem 0 0 0;
}

.sidebar__custom_doc_label {
  font-weight: bold;
  font-size: 1.25rem;
}

hr.sidebar__separator {
  margin: 0.25rem;
  opacity: 0.4;
}

hr.sidebar__double-separator {
  margin: 0.5rem;
  opacity: 0.4;
  border-bottom: 4px double #333;
  border-top: 4px double #999;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-buffer {
  padding: 0.5rem;
}

.sidebar__heading-label {
  margin: 0;
  padding: 10px 10px 0px 10px; /* top right bottom left */
  font-weight: bold;
  line-height: 1;
  font-size: large;
}

/* .sidebar__heading-label .menu__list-item-collapsible:hover {
  background: var(--ifm-pages-background-color);
} */

/* .menu__list-item-collapsible .menu__link:hover, .menu__list-item-collapsible .menu__link--active {

}

.menu__list-item-collapsible:hover {} */

.sidebar__heading-label-level-2 {
  margin: 0;
  padding: 0px 10px 0px 10px; /* top right bottom left */
  /* line-height: 1; */
}

.sidebar__heading-label-level-2 div a.menu__link {
  font-weight: bold;
  margin: 0;
  padding: 0;
  /* line-height: 1; */
}
.sidebar__heading-label-level-2 div a.menu__link--active {
  font-weight: bold;
  margin: 0;
  padding: 0;
  /* line-height: 1; */
  color: var(--ifm-menu-color);
}

/* .theme-doc-sidebar-item-category {
  line-height: 0.8;
  font-size: 0.9rem;
} */

.menu__link--sublist-caret {
  line-height: 1;
  padding-bottom: 5px;
}

.menu__list-item-collapsible a {
  line-height: 1;
  padding-bottom: 5px;
}

/* .menu__link {
  padding: 0;
  line-height: 1;
} */

@media screen and (min-width: 640px) {
  .theme-doc-sidebar-item {
    padding: 0;
    margin: 0;
    /* line-height: 1; */
  }

  .theme-doc-sidebar-item-link {
    padding: 0;
    margin: 0;
    /* line-height: 1; */
  }

  .theme-doc-sidebar-item-link-level-2 {
    font-size: 1rem;
    /* line-height: 1; */
  }
  .theme-doc-sidebar-item-link-level-2 {
    font-size: 0.95rem;
    /* line-height: 1; */
  }
  .theme-doc-sidebar-item-link-level-3 {
    font-size: 0.9rem;
    /* line-height: 1; */
  }
  .theme-doc-sidebar-item-link-level-4 {
    font-size: 0.85rem;
    /* line-height: 1; */
  }

  a.menu__link {
    line-height: 0.9;
    font-size: 0.9rem;
  }
}
