{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier",
    "@switchboard-xyz"
  ],
  "plugins": ["@typescript-eslint", "prettier", "unicorn", "import"],
  // "parserOptions": { "project": ["./tsconfig.json"] },
  "ignorePatterns": ["test/**/*.ts"],
  "rules": {
    "valid-jsdoc": "off",
    "camelcase": "off",
    "max-params": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-shadow": "off",
    "unicorn/filename-case": "off",
    "unicorn/import-style": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/prefer-code-point": "off",
    "unicorn/no-await-expression-member": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-empty-function": "off",
    "lines-between-class-members": "off",
    "no-warning-comments": "off",
    "unicorn/prevent-abbreviations": "off",
    "no-return-await": "off",
    "unicorn/no-process-exit": "off",
    "complexity": "off",
    "max-depth": "off",
    "no-await-in-loop": "off",
    "no-control-regex": "off",
    "new-cap": "off",
    "unicorn/no-array-push-push": "off"
  }
}
